.contactImage {
    border-radius: 30%;
    border: 1px solid;
    width: 45%;
    height: auto;
}
.contactMe h3 {
    font-weight: normal;
    color: #3f3f3f;
}
.contactMe p {
    font-size: 25px;
    color: #3f3f3f;
}
.socialIcons i {
    font-size: 30px;
}
.socialIcons {
    text-align: center;
    padding: 0;
    color: #3f3f3f;
}
.socialIcons li {
    list-style: none;
    display: inline;
    padding: 10px;
}
.socialIcons li a {
    color: #3f3f3f;
}
.contactDetails {
    padding: 0;
    text-align: end;
}
.contactDetails li {
    list-style: none;
    color: darkblue;
}
@media (min-width: 768px) {
    .contactImage {
        width: 15%;
        height: auto;
    }
}
@media (max-width: 767px) {
    .contactImage {
        width: 35%;
        height: auto;
    }
    .contactMe h1 {
        font-weight: normal;
        font-size: 25px;
    }
    .contactMe p {
        font-size: 18px;
    }
    .socialIcons i {
        font-size: 30px;
    }
    .socialIcons p {
        font-size: 14px;
    }
}
