.projectDetails {
    text-align: justify;
}
ul li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
#projects hr {
    border-top: 1px dashed !important;
}
.projectDetails p {
    color: #3f3f3f;
}
.projectTitle {
    font-size: 28px;
}
.dates {
    font-size: 16px;
}
.impDetail {
    font-style: italic;
    font-weight: 600;
}
.accordion {
    cursor: pointer;
    font-weight: 700;
}
.projectDetails {
    transition: max-height 0.2s ease-out;
}
/* .accordion::before {
    content: "Show more...";
}
.accordion:active {
    content: "Show less...";
} */

@media (max-width: 767px) {
    .projectDetails p {
        font-size: 14px;
    }
    .techStack {
        font-size: 14px;
        text-align: justify;
    }
}