body {
    background-color: beige;
    box-sizing: border-box;
    font-family: 'Tomorrow', sans-serif !important;
    background-image: url('../src/assets/background-image/brick-wall-realistic.jpg');
    width: 100%;
}
h1 {
    font-size: 20px;
}
.nav-link {
    color: #fff;
    font-size: 18px;
}
.nav-link:hover {
    color: wheat;
}
.navbar-brand {
    color: white;
    font-size: 25px !important;
}
.navbar-brand:hover {
    color:wheat;
}
.linkText {
    text-decoration: none;
    color: black;
}
@media (max-width:767px) {
    .navbar-brand {
        color: white;
        font-size: 25px !important;
    }
}